@import url( '? 0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Poppins, serif, sans-serif;
  width: 100vw;
  height: 100vh;
}

  .logo {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
}

.nav-links {
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  top: -500vw;
  height: 100%;
  width: 100%;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.863) ;
  transition: all 0.5s ease-out;
}

.nav-links a, h2 {
  color: green;
  text-decoration: none;
  font-size: 2rem;
}

.menu-hamburger {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  top: 0.5rem;
  right: 1rem;
  width: 7em;
}

.mobile-menu {
  top: 0;
}

h1 {
  display: flex;
  flex-direction: column;
  background-image: url(Images/bandeau-nav.jpg);
  width: 100vw;
  height: 200px;
  font-size: 5rem;
  color: rgb(1, 1, 83);
  font-weight: 500px;
  margin-top: -60px;
  text-align: center;
  padding-top: 70px;
}

article, .mission, .ressources{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #6c757d;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 5px 0px 10px 0px black;
}

.mission{
  background: rgb(0, 87, 0);
  color: white;
  text-align: justify;
}

h2 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: left;
  padding-top: 20px;
  margin-left: 26px;
}

h3{
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  color: rgb(198, 166, 100);
  padding-top: 20px;
  text-align: left;
}

.tortue, img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  padding:20px;
  margin: auto;
}

.ressources ul{
  padding: 1rem;
}

footer {
  position: bottom;
  background-color: rgb(198, 166, 100);
  width: 100%;
}

.footertitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 87, 0);
  font-size: 3rem;
}

.mainfooter{
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #383b3d;
  font-size: 2rem;
}

.liens-footer {
  color: rgb(0, 87, 0);
  text-decoration: none;
}

.acces, iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

main{
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.form-contact{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 5px 0px 10px 0px black;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.form-contact h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-right: 22px;
}

.bouton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.contact-content{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: justify;
  font-size: 1.5rem;
  padding-left: 40px;
}

@media screen and (min-width:870px) {

  h2{
    margin-left: 5%;
    margin-bottom: 3rem;
  }

  .menu-hamburger {
    display: none;
  }

  .logo {
    position: absolute;
    float: left;
    margin-top: -60px;
    margin-left: -60px;
    width: 300px;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: top;
    width: 100vw;
    height: 60px;
    list-style: none;
    font-size: 0.8rem;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 180px;
  }

  h1 {
    display: flex;
    background-image: url(Images/bandeau-nav.jpg);
    width: 100%;
    height: 200px;
    font-size: 5rem;
    color: rgb(1, 1, 83);
    font-weight: 500px;
    margin-top:60px;
    text-align: center;
    padding-top: 70px;
  }

  article, .mission, .ressources{
    font-size: 20px;
    width: 90%;
    margin: auto;
    text-align: justify;
  }

  .mission-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 60px;
    margin-top: 30px;
  }

  .mission{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 15px;
  }

  .tortue, img{
    width: 50%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footertitle{
    display: flex;
    flex-direction: row;
    align-items: left;
    color: rgb(0, 87, 0);
    font-size: 2.5rem;
  }
  
  .mainfooter{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: #383b3d;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .liens-footer {
    color: rgb(0, 87, 0);
    text-decoration: none;
  }
  
  .acces, iframe {
    display: flex;
    flex-direction: column;
    width:auto;
    height: 320px;
    padding-top: 10px;
    padding-right: 5px;
  }

  footer p, ul, li{
    font-size: 2rem;
    padding-right: 10px;
  }

  .ressources p{
    padding: 0;
  }
}

@media screen and (min-width:1600px) {
  .mainfooter{
    justify-content:space-around;
}

.footertitle{
  padding-top: 10%;
  padding-bottom: 10%;
}
}