@import url( '? 0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: Poppins, serif, sans-serif;
  width: 100vw;
  height: 100vh;
}

header{
  background-color: rgba(255, 255, 255, 0) ;
}

  .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 150px;
}

.nav-links {
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  top: -500vw;
  height: 100vh;
  width: 100vw;
  list-style: none;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.863) ;
  transition: all 0.5s ease-out;
}

.nav-links a, h2 {
  color: green;
  text-decoration: none;

}

.menu-hamburger {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  top: 8px;
  right: 50px;
}

.mobile-menu {
  top: 0;
}

h1 {
  display: block;
  background-image: url(Images/bandeau-nav.jpg);
  width: 100%;
  height: 200px;
  font-size: 70px;
  color: rgb(1, 1, 83);
  font-weight: 500px;
  margin-top: -40px;
  text-align: center;
  padding-top: 70px;
}

article, .mission, .ressources{
  display: block;
  height: auto;
  font-size: 36px;
  color: #6c757d;
  text-align: justify;
  padding: 2em;
  margin: 1.5em;
  box-shadow: 5px 0px 10px 0px black;
}

.ressources p{
  padding-bottom: 30px;
}

.mission{
  background: rgb(0, 87, 0);
  color: white;
}

h2 {
  display: block;
  font-size: 52px;
  text-align: left;
  padding-top: 20px;
  margin-left: 50px;
}

h3{
  display: block;
  font-size: 48px;
  color: rgb(198, 166, 100);
  padding-top: 20px;
}

.tortue, img {
  display: block;
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding:20px
}

.ressources ul{
  padding: 0;
}

footer {
  position: bottom;
  background-color: rgb(198, 166, 100);

}

.footertitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 87, 0);
  font-size: 70px;

}

.mainfooter{
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #383b3d;
  font-size: 35px;
}

.liens-footer {
  color: rgb(0, 87, 0);
  text-decoration: none;
}

.acces, iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width:960px) {

  h2 {
  font-size: 25px;
  margin-left: 190px;
}

  h1 {
    font-size: 60px;
  }

  .menu-hamburger {
    display: none;
  }

  .logo {
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 100px;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    width: 100vw;
    height: 60px;
    list-style: none;
    font-size: 20px;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 180px;
  }

  article, .mission, .ressources{
    font-size: 20px;
    width: 90%;
    margin: auto;
    text-align: justify;
  }

  .mission-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 60px;
    margin-top: 30px;
  }

  .mission{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 15px;
  }

  h3{
    font-size: 25px;
    text-align: left;
  }

  .tortue{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: auto;
    font-size: 15px;
  }

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 166, 100);
    height: 350px;
  }
  
  .footertitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 87, 0);
    font-size: 30px;
  
  }
  
  .mainfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #383b3d;
    font-size: 25px;
    width: 100%;
    padding: 10px;
  }
  
  .liens-footer {
    color: rgb(0, 87, 0);
    text-decoration: none;
  }
  
  .acces, iframe {
    display: flex;
    flex-direction: column;
    width:auto;
    height: 320px ;
    padding-top: 10px;
  }

  footer p, ul, li{
    font-size: 20px;
  }

  .ressources p{
    padding: 0;
  }
}