@import url( '? 0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Poppins, serif, sans-serif;
  width: auto;
  height: 100vh;
}

  .logo {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
}

.nav-links {
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  top: -500vw;
  height: 100%;
  width: 100%;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.863) ;
  transition: all 0.5s ease-out;
}

.nav-links a, h2 {
  color: green;
  text-decoration: none;
  font-size: 2rem;
}

.nav-links :hover {
  text-decoration:underline;
  color: green;
}

.menu-hamburger {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  top: 1rem;
  right: 1rem;
  width: 5em;
}

.mobile-menu {
  top: 0;
}

h1 {
  display: flex;
  flex-direction: column;
  background-image: url(Images/bandeau-nav.jpg);
  background-color: rgba(198, 165, 100, 0.808);
  width: 100%;
  height: 150px;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  font-weight: 500px;
  margin-top: -60px;
  text-align: center;
  padding-top: 40px;
}

article, .mission, .ressources {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #6c757d;
  text-align: left;
  justify-content: center;
  padding: 1.5rem;
  box-shadow: 5px 0px 10px 0px black;
  margin-top: 2rem;
}

.mission {
  background: rgb(0, 87, 0);
  color: white;
  text-align: justify;
}

h2 {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  text-align: left;
  padding-top: 20px;
}

h3 {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  color: rgb(198, 166, 100);
  padding-top: 20px;
  text-align: left;
}

.tortue, img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.1rem;
  text-align: center;
  padding:1rem;
  padding-top: 0;
  margin: auto;
  margin-top: 1rem;
}

footer {
  position: bottom;
  background-color: rgb(198, 166, 100);
  width: 100%;
}

.footertitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(0, 87, 0);
  font-size: 2.5rem;
}

.footertitle p{
  font-size: 2rem;
}

.mainfooter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 2rem;
  color: #383b3d;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.liens-footer{
  font-size: 2rem;
}

.liens-footer a {
  color: rgb(0, 87, 0);
  text-decoration: none;
  font-size: 2rem;
}

.acces, iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
}

main {
  width: 90vw;
  margin: auto;
}

.form-contact {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 5px 0px 10px 0px black;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.form-contact {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  margin: auto;
  width: 60%;
}

.bouton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  margin: auto;
  margin-top: 20px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: justify;
  font-size: 1.5rem;
  width: 60%;
  margin: auto;
}

@media screen and (min-width:870px) {

  main {
    width: 90%;
  }

  h2 {
    margin-left: 5%;
    margin-bottom: 3rem;
  }

  .menu-hamburger {
    display: none;
  }

  .logo {
    position:absolute;
    z-index: 1;
    float: left;
    margin-top: -60px;
    margin-left: 30px;
  }

  .nav-links {
    position:fixed;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    list-style: none;
    font-size: 0.8rem;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding-left: 180px;
  }

  h1 {
    display: flex;
    margin-top: 60px;
  }

  h2{
    margin-left: 0;
  }

  article, .mission, .ressources {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    text-align: justify;
  }

  .mission-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2rem;
    padding: 1.5rem;
  }

  .tortue, img {
    width: 50%;
    margin-top: 1.5rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
  }
  
  .footertitle {
    display: flex;
    flex-direction: row;
    align-items: left;
  }
  
  .mainfooter{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
  }
  
  .liens-footer :hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 87, 0);
  }
  
  .acces, iframe {
    width:auto;
    height: 320px;
    padding-right: 5px;
  }

  footer p, ul, li{
    font-size: 2rem;
    padding-right: 10px;
  }

  .ressources p{
    padding: 0;
  }

  .contact-content{
    margin: auto;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .form-contact{
    padding-right: 80px;
    padding-left: 80px;
  }

}

@media screen and (min-width:1600px) {

  .mission-content{
    display: flex;
    flex-wrap: nowrap;
  }

  .mainfooter{
    justify-content:space-around;
  }
}
